@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-inter: var(--font-inter);
  --font-epilogue: var(--font-epilogue);
  --font-roboto: var(--font-roboto);
  --font-mono: var(--font-roboto-mono);
  --font-clash: var(--font-clash);
  --font-sf-pro: var(--font-sf-pro);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-gray: #515b6f;
  --color-second-gray: #202430;
  --color-third-gray: #7c8493;

  --color-blue-text: #26a4ff;
  --color-dark-text: #25324b;
  --color-footerTxt: #d6ddeb;

  --color-greenTags: #56cdad;
  --color-ylwTags: #ffb836;
  --color-redTags: #ff6550;
  --color-indigoTags: #4640de;

  --container-sm: 768px;
  --container-md: 1024px;
  --container-main: 1240px;
}

@utility container-layout {
  margin-inline: auto;
  width: 100%;
  max-width: var(--container-main);
  padding-inline: 1.5rem;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
